.container {
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
    "header header header"
    "sidebar main main"
    "footer footer footer";
}

.item {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
}

.header {
  background-color: #FFFFFF;
  color: #000000;
  text-align: left;
  text-decoration: underline;
  text-decoration-color: #FFCE00;
  font-size: 30px;
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
}

.image-container {
  display: grid;
  grid-gap: 2px;
  grid-template-areas:
    "image-1 image-2 image-2"
    "image-3 image-2 image-2"
    "image-4 image-5 image-6";
}

.image-1 {
  grid-area: image-1;
}

.image-2 {
  grid-area: image-2;
}

.image-3 {
  grid-area: image-3;
}

.image-5 {
  grid-area: image-5;
}

.image-4 {
  grid-area: image-4;
}

.image-6 {
  grid-area: image-6;
}

a {
  padding: 0px 5px;
  text-decoration: underline;
  margin: 5px 5px;
  color: white;
}

.grid-image {
  width: 100%;
}

body {
  font-family: Tahoma;
}